<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>

    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>url</th>
                    <th>sfs</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: names">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: url"></td>
                    <td data-bind="text: grades['Alex']"></td> 
                </tr>    
            </tbody>
        </table>
        <script type="text/javascript">

            function Name(name, url, parents) {
                var self = this;
                self.name = name;
                self.url = url;
                self.grades  = {};

                for (var i =0; i < parents.length; i++) {
                    self.grades[parents[i].name] = 0;
                    
                }
                console.log(self);
            }

            function Parent(name) {
                var self = this;
                self.name = name;
            }

            function NamesModel() {
                var self = this;
                

                var parents = [];
                parents.push(new Parent("Alex"));
                parents.push(new Parent("Christina"));

                var names = [];
                names.push(new Name("ΑΡΙΑΔΝΗ", "https://el.wikipedia.org/wiki/Αριάδνη", parents));
                names.push(new Name("ΙΟΛΗ", "https://el.wikipedia.org/wiki/Ιόλη", parents  ));

                
                self.chosen = ko.observable();

                self.goToChosen = function(chosen) {
                    self.chosen = chosen;
                };

                self.parents = ko.observableArray(parents);
                self.names = ko.observableArray(names);
            }
            ko.applyBindings(new NamesModel());
        </script>
    </body>
</html>